<html>
<head>
    <title>The King</title>
    <script data-main="js/main" src="js/require.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ytmnd2.css">
</head>
<body>
    <audio autoplay loop>
        <source src="audio/meatballs.mp3" type="audio/mpeg">
        <source src="audio/meatballs.ogg" type="audio/ogg">
        Your browser does not support this audio.
    </audio>
    <div id="main" style="width:810px;text-align:center"></div>

    <!-- Template -->
    <script type="text/template" id="item-template">
        <div class="zoom-text" style="font-size:<%- fontSize %>;top:<%- top %>;left:<%- left %>;color:<%-color %>;text-align:center;width:810px;"><%- text %></div>
    </script>

</body>
</html>
