<html>
<head>
    <title>ytmnd2</title>
    <script data-main="js/main" src="js/require.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ytmnd2.css">
</head>
<body>
    <a href="https://github.com/josephl/ytmnd2"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 500;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div id="main" style="width:810px;text-align:center"></div>

    <!-- Template -->
    <script type="text/template" id="item-template">
        <div class="zoom-text" style="font-size:<%- fontSize %>;top:<%- top %>;left:<%- left %>;color:<%-color %>;text-align:center;width:810px;"><%- text %></div>
    </script>

</body>
</html>
